/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  /*===== Colors =====*/
  --hue-color: 242;

  /* HSL Color Mode */
  --skin-color: hsl(342, 92%, 46%);
  --title-color: hsl(var(--hue-color), 8%, 95%);
  --text-color: hsl(var(--hue-color), 8%, 85%);
  --body-color: hsl(var(--hue-color), 19%, 5%);
  --box-color: hsl(var(--hue-color), 14%, 10%);
  --scroll-bar-color: hsl(var(--hue-color), 12%, 38%);
  --scroll-thumb-color: hsl(var(--hue-color), 12%, 26%);

  /*===== Font and Typography =====*/
  --body-font: "Poppins", sans-serif;

  /* .5rem = 8px, 1rem = 16px, 1.5rem = 24px ... */
  --biggest-font-size: 3rem;
  --h1-font-size: 2.25rem;
  --h2-font-size: 1.5rem;
  --h3-font-size: 1.25rem;
  --normal-font-size: 1rem;
  --small-font-size: 0.875rem;
  --smaller-font-size: 0.813rem;

  /*===== Font Weight =====*/
  --font-medium: 500;
  --font-bold: 600;

  /*===== Margenes Bottom =====*/
  --mb-0-25: 0.25rem;
  --mb-0-5: 0.5rem;
  --mb-0-75: 0.75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;
  --mb-3: 3rem;

  /*===== Z Index =====*/
  --z-fixed: 10;
  --z-modal: 100;
}

/* Responsive Typography */
@media screen and (max-width: 1024px) {
  :root {
    --biggest-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: 0.938rem;
    --small-font-size: 0.813rem;
    --smaller-font-size: 0.75rem;
  }
}

/*=============== BASE ===============*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body,
button,
input {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

body {
  background-color: var(--body-color);
  color: var(--text-color);
}

h1,
h2,
h3 {
  color: var(--title-color);
  font-weight: var(--font-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

button,
input {
  border: none;
  outline: none;
}

/*=============== LAYOUT ===============*/
.container {
  max-width: 1250px;
  margin: 0 auto var(--mb-2);
}

.grid {
  display: grid;
}

/*=============== MAIN ===============*/

/*===== Work Section =====*/
.section__title {
  text-align: center;
  margin: 15px auto 20px;
}

.game__container {
  grid-template-columns: repeat(3, 330px);
  gap: 1.8rem;
  justify-content: center;
  padding-top: 1rem;
}

.game__filters {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 0.75rem;
  margin-bottom: 1rem;
}

.game__item {
  cursor: pointer;
  color: var(--title-color);
  padding: 0.25rem 0.75rem;
  font-weight: var(--font-medium);
  border-radius: 0.5rem;
}

.game__card {
  background-color: var(--box-color);
  padding: 1.25rem;
  border-radius: 0.5rem;
}

.portfolio__item-details {
  display: none;
}

.game__img {
  border-radius: 0.5rem;
  margin-bottom: var(--mb-1);
}

.game__title {
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
  margin-bottom: var(--mb-0-5);
}

.game__button {
  color: var(--skin-color);
  font-size: var(--small-font-size);
  display: flex;
  align-items: center;
  column-gap: 0.25rem;
  cursor: pointer;
}

.game__button-icon {
  font-size: 1rem;
  transition: 0.3s;
}

.game__button:hover .game__button-icon {
  transform: translateX(0.25rem);
}

/* Active Item Game */
.active-game {
  background-color: var(--skin-color);
  color: car(--title-color);
}

/* Portfolio Popup */
.portfolio__popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  z-index: var(--z-modal);
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
}

.portfolio__popup.open {
  opacity: 1;
  visibility: visible;
}

.portfolio__popup-inner {
  background-color: var(--box-color);
  width: 900px;
  border-radius: 0.5rem;
  padding: 2.5rem;
  position: relative;
}

.portfolio__popup-content {
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  column-gap: 3rem;
}

.portfolio__popup-close {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  font-size: 1.5rem;
  color: var(--skin-color);
  cursor: pointer;
}

.portfolio__popup-img {
  border-radius: 0.5rem;
}

.portfolio__popup-subtitle {
  font-size: var(--smaller-font-size);
  margin-bottom: var(--mb-0-25);
  color: var(--skin-color);
}

.details__title {
  font-size: var(--h3-font-size);
  font-weight: var(--font-medium);
  margin-bottom: var(--mb-1);
}

.details__description {
  font-size: var(--small-font-size);
  margin-bottom: var(--mb-2);
}

.details__info li {
  margin-bottom: var(--mb-0-75);
  text-transform: capitalize;
  font-size: var(--small-font-size);
}

.details__info li:last-child {
  margin-bottom: 0;
}

.details__info li span {
  font-weight: normal;
}

.details__info li a {
  text-transform: lowercase;
  color: var(--skin-color);
}

/*========== BREAKPOINTS ==========*/
/* For Large Devices */
@media screen and (max-width: 1408px) {
  .container {
    margin-left: var(--mb-2-5);
    margin-right: var(--mb-2-5);
  }
}

@media screen and (max-width: 1216px) {
  .game__container {
    grid-template-columns: repeat(2, 330px);
    gap: 2.5rem;
  }
}

@media screen and (max-width: 1024px) {
  .container {
    margin-left: var(--mb-1-5);
    margin-right: var(--mb-1-5);
  }

  .game__card {
    padding: 1rem;
  }

  .game__img {
    margin-bottom: var(--mb-0-75);
  }

  .game__title {
    margin-bottom: var(--mb-0-25);
  }
}

/* For Medium Devices */
@media screen and (max-width: 768px) {
  .game__container {
    grid-template-columns: 330px;
  }
}

@media screen and (max-width: 576px) {
  .game__container {
    grid-template-columns: 300px;
  }
}

/* For Small Devices */
@media screen and (max-width: 350px) {
  .container {
    margin-left: var(--mb-1);
    margin-right: var(--mb-1);
  }

  .game__item {
    font-size: var(--small-font-size);
  }

  .game__filters {
    grid-template-columns: max-content;
  }
}
